        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Ryan's Blog
                    <small>'sup?</small>
                </h1>
		<!-- The following section will be populated programmatically when it is more than one post -->
		<div class="well">
                <!--BLOGPOSTS-->
                <h2>
                    <a href="#">What I learned making this blog</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">me</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on DATE HERE</p>
                <hr>
                <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=900%C3%97300&w=900&h=300" alt="">
                <hr>
                <p>I learned a bit about a few interesting technologies while creating this blog. Read this post so you don't risk making my mistakes too.</p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
		<!--BLOGPOSTS END-->
                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
		</div>
            </div>
